:root{
    --corverde: #49a09d;
    --corlilas: #5f2c82;
}

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body, html{
    background-color: var(--corlilas);
    height: 100vh;
    width: 100vw;
    
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}


section#login{
    position: absolute;
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 5px 5px 7px 1px rgba(0, 0, 0, 0.493);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: width 1s, height 1s;
    transition-timing-function: ease;
}

section#login > div#imagem{
    display: block;
    background: var(--corlilas) url(edificios.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
}

section#login > div#formulario{
    display: block;
    padding: 10px;
}

div#formulario > h1{
    text-align: center;
    margin-bottom: 1.0em;
}

div#formulario > p{
    font-size: 0.8em;
}

form > div.campo {
    background-color: #5f2c82;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[input=submit]:hover{
    background-color: #2d6462;
}

form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white;
    color: #2d6462;
    border: 1px solid #49a09d;
    border-radius: 5px;
    text-decoration: none;
}

form > a.botao:hover{
    background-color: #49a09d;
}

form > a.botao > i{
    font-size: 0.8em;
}

